.movieItem {
    margin: 4px;
    flex: 0 1 calc(20% - 8px); /* <-- adjusting for margin */
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.movieItem img {
    max-width: 100%;
}

.movieInfo {   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    background-color: blue;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -200px;
    left: 0;
    transition: top ease 0.5s;
    color: #fff;
    box-sizing: border-box;
    padding: 20px;
    font-weight: bold;
}

.movieInfo p {
    font-size: 1.5em;
}

.moviesList .movieItem:hover .movieInfo {
    opacity: 0.7;
    top: 0;
    transition: top ease 0.5s;
}