.inputSearch {
    border-radius: 20px;
    padding: 10px;
    width: 500px;
    max-width: 80%;
}

.moviesList {
    display: flex;
    flex-flow: row wrap;
}

.resultsFoundFilterContainer {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin: 20px 0;
}

.resultsCount, .filter {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.filter img {
    max-width: 25px;
}